<%- include('partials/header'); -%>
<div class="nav-backdrop">
  <div class="watch-now">
    <h4>Kimi no Na Wa</h4>
    <p>2016 ‧ Drama/Fantasy ‧ 1h 52m</p>
    <button>Watch Now</button>
  </div>
</div>

</section>

<section class="section-two">
  <div class="container">
    <div class="movies-grid">
      <% for(var i=0; i < data.length; i++) { %>

      <a href="/movie/<%- data[i].id %>" class="movies-card">
        <div class="movies-img" style="background-image:url('https://image.tmdb.org/t/p/w500<%- data[i].poster_path %>')"></div>
        <h1 class="movie-title"><%- data[i].title %></h1>
        <p class="movie-overview"><%- data[i].overview.substring(1, 100) %></p>
      </a>
      <% } %>
    </div>
  </div>
</section>
<%- include('partials/footer'); -%>
